*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: #0984e3;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
    
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active, a:hover{
    background-color:#74b9ff ;
    transition: .5s;
}
.checkbtn{
    font-size: 35px;
    color: white;
    float: right;
    margin: 0 20px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
   nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2d3436;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
   nav ul li{
        margin: 50px 0;
        display: block;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active,a:hover{
        background: none;
        color: #6c5ce7;
    }
    #check:checked ~ ul{
        left: 0;
    }
}